*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.6;
  font-size: 16px;
}
@media all and (min-width: 960px) {
  #container {
    padding-top: 20px;
    width: 960px;
    position: relative;
    margin: 0 auto;
  }
}
.aboutme {
  background-color: #090909;
  color: #ffa500;
}
@media all and (min-width: 960px) {
  .aboutme {
    width: 200px;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.aboutme a:visited {
  color: #ffa500;
}
.aboutme a {
  color: #ffa500;
}
.aboutme .picture-of-me {
  width: 200px;
  height: 200px;
  background: url(../imgs/me.png) no-repeat;
  background-size: 200px 200px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .aboutme .picture-of-me {
    background: url(../imgs/me@2x.png) no-repeat;
    background-size: 200px 200px;
  }
}
.aboutme h6 {
  padding: 10px 10px;
  font-size: 16px;
}
.content p {
  font-size: 18px;
}
.content p:first-of-type {
  margin-top: 60px;
}
.content hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media all and (min-width: 960px) {
  .content {
    position: absolute;
    top: 0;
    bottom: 20px;
    margin-left: 220px;
    margin-right: 0px;
  }
}
.content .index {
  margin-left: 20px;
}
.links {
  width: 0px;
  right: 0;
  top: 0;
}
.hcenter {
  text-align: center;
}
.block_center {
  margin-left: auto;
  margin-right: auto;
}
.badge {
  margin: 10px;
}
.my_name_is {
  text-align: center;
}
.comments-title {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
  font-weight: 700;
}
.avatar {
  max-width: 10%;
}
.comments__post {
  margin: 20px auto;
}
.comments {
  padding-bottom: 20px;
}
.comment:not(:last-of-type) {
  margin-bottom: 20px;
}
.comment__info {
  display: inline-block;
  width: 90%;
  padding-left: 10px;
  vertical-align: top;
}
.comment__header {
  background-color: #eeeeee;
}
.comment__user {
  padding-left: 10px;
  font-weight: 700;
  padding-right: 10px;
}
.comment__body {
  margin: 10px 0 0 10px;
}
button {
  border-width: 0;
  background-color: #090909;
  color: #ffa500;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}
