*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@aboutme_width: 200px; 
@links_width: 0px;
@me_width: 240px;

html, body {
    height: 100%;
    overflow: hidden;
}

@media all and (min-width: 960px) {
    #container {
        width: 960px;
        position: relative;        
        margin: 0 auto;
        height: 100%;
    }
}

.aboutme {
    width: @aboutme_width;
    display: inline;
    position: absolute;
    left:0;
    top: 0;
    .picture-of-me {
        width: @me_width;
        height: @me_width;
        border-radius: 50%;
        background: url(../imgs/Petar.png) no-repeat;
    }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: @aboutme_width;
    margin-right: @links_width;
    overflow: scroll;
}

.links {
    width: @links_width;
    right: 0;
    top: 0;
}