*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@aboutme_width: 200px;
 @links_width: 0px;
 @me_width: 200px;
 @margin: 5px;
 @desktop_breakpoint: 960px;
 html, body {
    height: 100%;
    overflow: hidden;
}
@media all and (min-width: @desktop_breakpoint) {
    #container {
        padding-top: 10px;
        width: @desktop_breakpoint;
        position: relative;
        margin: 0 auto;
        height: 100%;
    }
}
.aboutme {
    width: @aboutme_width;
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    .picture-of-me {
        width: @me_width;
        height: @me_width;
        background: url(../imgs/me.png) no-repeat;
        background-size: @me_width @me_width;
    }

    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
        .picture-of-me {
            background: url(../imgs/me@2x.png) no-repeat;
            background-size: @me_width @me_width;
        }
    }
}
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: @aboutme_width + @margin;
    margin-right: @links_width;
    overflow: scroll;
    .index {
        margin-left: 5px;
    }
}
.links {
    width: @links_width;
    right: 0;
    top: 0;
}