{% extends 'base.html' %}
{% block body %}
  <h1>{{ title }}</h1>
  <time>{{ date | date('Y-m-d') }}</time>
  {{ contents | safe }}
  {% if issueId %}
  <div class="comments-title">Comments (powered by GitHub issues):</div>    
  <div id="comments" class="comments"></div>
  <div class="hcenter comments__post"><button>Post your comment&nbsp;<i class="fa fa-github"></i></button></div>
  <script>
    function formatCommentTimestamp(timestamp) {
      return timestamp.toLocaleString();
    }
    function loadComments(data) {
      var comments = "";
      for (var i=0; i<data.length; i++) {
        var cuser = data[i].user.login;
        var cuserlink = "https://www.github.com/" + data[i].user.login;
        var clink = "https://github.com/pshomov/pshomov.github.io/issues/{{ issueId }}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
       var cbody = data[i].body;
       var cavatarlink = data[i].user.avatar_url;
       var cdate = formatCommentTimestamp(new Date(data[i].created_at));
    
       comments += "<div class='comment'>"+'<img src="' + cavatarlink + '" class="avatar">'+"<div class='comment__info'>"+"<div class='comment__header'><a class='comment__user' href=\""+ cuserlink + "\">" + cuser + "</a>" + "<a class='comment__date' href=\"" + clink + "\">" + cdate + "</a></div><div class='comment__body'>" + cbody + "</div></div></div>";
     }
     if (comments == ""){
       comments = '<div class="hcenter">No comments have been posted yet, wanna go first? <i class="fa fa-hand-o-down"></i></div>';
     }
     document.getElementById("comments").innerHTML = comments;
    }
    var site = fermata.json('https://api.github.com');
    
    site('repos','pshomov', 'pshomov.github.io','issues','{{ issueId }}', 'comments').get(function (err, data, headers){
      if (err == null){
       loadComments(data); 
      }
    });
  </script>  
  {% endif %}
{% endblock %}
